.Container {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #e4effa;
  color: #0b1f40;
}
.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.Header_Logo {
  font-size: 30px;
  font-weight: 1000;
  color: #000000;
}

.Header_Nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Header_Nav_NavButton {
  padding: 6px 12px;
  background: #111;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.Header_Nav_NavButton:hover {
  background-color: #2d71b9;
  transition: all 0.2s ease-in-out;
  color: white;
}

.Header_Topbar_Authsearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.Header_Topbar_Authsearch_Searchbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ededed;
  padding: 6px 30px;
  border-radius: 10px;
  caret-color: #00274d;
}

.Header_Topbar_Authsearch_Searchbox input {
  border: none;
  outline: none;
  font-size: 16px;
  color: #003366;
  padding: 0;
  margin: 0;
  width: 100%;
}

.Header_Topbar_Authsearch_Searchbox_Searchicon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.Header_Topbar_Authsearch_Searchbox_Searchicon_Icon {
  width: 24px;
  height: 24px;
  color: var(--icon-color, #1f2937);
  transition: color 0.3s ease;
}

.Header_Topbar_Authsearch_Searchbox_Searchicon_Icon:hover {
  color: #2d71b9;
  transition: all 0.5s ease-in-out;
}

.Header_Nav_MenuWrapper {
  position: relative;
  margin-left: 10px;
}

.Header_Nav_MenuWrapper_MenuButton {
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.Header_Nav_MenuWrapper_DropdownMenu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  z-index: 20;
  min-width: 160px;
  text-align: left;
}

.Header_Nav_MenuWrapper_DropdownMenu a {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  color: #0b1f40;
  border-bottom: 1px solid #eee;
}

.Header_Nav_MenuWrapper_DropdownMenu a:hover {
  background-color: #f0f0f0;
  transition: all 0.2s ease-in-out;
}

.Header_Nav_MenuWrapper_MenuButton_ShowMenu {
  display: block;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/Img/Homepage/Hero.png");
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  transform: scale(1.05);
  z-index: 0;
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(6, 31, 62, 0.4);
  z-index: 1;
}

.heroContent {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.heroLogos {
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.heroTitle {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.heroSubtitle {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.Body {
  background: linear-gradient(
    to bottom,
    #f6fcff 0%,
    #c0e9ff 17%,
    #33659a 73%,
    #042354 100%
  );
  padding: 40px 0 0 0;
  max-width: 100%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.8;
}

.Body_Container {
  padding: 40px 0;
}

.Body_Container_Introduction {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.Body_Container_Introduction_BodyShape01 {
  position: absolute;
  top: 2px;
  right: 0;
  width: 950px;
  height: 3%;
  background-color: #517fb1;
  z-index: 1;
}

.Body_Container_Introduction_BodyShape02 {
  position: absolute;
  bottom: 34%;
  left: 0;
  width: 50%;
  height: 20%;
  background-color: #04255a;
  z-index: 0;
}

.Body_Container_Introduction_BodyShape03 {
  position: absolute;
  bottom: 34%;
  right: 0;
  width: 1.5%;
  height: 30%;
  background-color: #04255a;
  z-index: 0;
}

.Body_Container_Introduction_BodyShape04 {
  position: absolute;
  bottom: 14%;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #7e9fca;
  z-index: 0;
}

.Body_Container_Introduction::before {
  content: "";
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 640px;
  height: 640px;
  background-image: url("/Img/Homepage/LogoKhoa.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  opacity: 0.2;
  z-index: 0;
}

.Body_Container_Introduction_ContentWrapper {
  position: relative;
  z-index: 1;
  display: flex;
  margin: 0 60px;
  gap: 40px;
}

.Body_Container_Introduction_Title {
  background-color: #042354;
  color: white;
  display: inline-block;
  margin: 20px 60px;
  padding: 8px 24px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 800;
}

.Body_Container_Introduction_ContentWrapper_ImageContainer {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  position: relative; /* Cần cho Next.js Image */
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Body_Container_Introduction_ContentWrapper_ImageContainer_Image {
  width: 650px;
  height: 400px;
  object-fit: cover;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.Body_Container_Introduction_ContentWrapper_ImageContainer_ImageFade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.Body_Container_Introduction_ContentWrapper_ImageContainer_ImageFadeShow {
  opacity: 1;
}

.Body_Container_Introduction_ContentWrapper_ImageContainer_Dots {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.Body_Container_Introduction_ContentWrapper_ImageContainer_Dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: rgb(221, 234, 255);
  border-radius: 50%;
  margin: 8px;
  transition: background-color 0.5s;
}

.Body_Container_Introduction_ContentWrapper_ImageContainer_Active {
  background-color: #2263a8;
}

.Body_Container_Introduction_ContentWrapper_TextContainer {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  color: #0b1f40;
}

.Body_Container_Introduction_ContentWrapper_TextContainer_Heading {
  text-align: right;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 50px;
  color: #0b1f40;
}

.Body_Container_Introduction_ContentWrapper_TextContainer_Description {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 10px;
  text-align: justify;
}

.Body_Container_Introduction_ContentWrapper_TextContainer_ReadMore {
  align-items: right;
  justify-self: right;
  display: flex;
}

.Body_Container_Introduction_ContentWrapper_TextContainer_ReadMore:hover {
  color: #2d71b9;
  transition: all 0.2s ease-in-out;
}

.Body_Container_MemberWrap {
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  padding: 0 60px;
  z-index: 1;
}

.Body_Container_MemberItem {
  padding: 10px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.Body_Container_MemberImage {
  transform: rotate(-1 deg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 332px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.Body_Container_MemberImage:hover {
  transform: rotate(0deg) scale(1.02);
}

.Body_Container_MemberLabel {
  width: 332px;
  font-weight: 1000;
  line-height: 50px;
  font-size: 35px;
  text-align: center;
  color: #0b1e3f;
  margin-top: 10px;
  -webkit-text-stroke: 4px #b5dff7;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

  paint-order: stroke fill;
}

.Body_Container_Activities {
  text-align: center;
  margin-top: 60px;
}

.Activities_RecentLabel {
  font-size: 28px;
  font-weight: 700;
  background-color: #042354;
  color: white;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 999px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.Activities_RecentCards {
  margin-top: 40px;
  gap: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 0 60px;
}

.Activities_RecentCard {
  width: 230px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.Activities_RecentCard:hover {
  transform: translateY(-5px);
}

.Activities_RecentCard_Image {
  width: 100%;
  height: auto;
}

.Activities_RecentCard_Content {
  padding: 15px;
  text-align: left;
}

.Activities_RecentCard_Title {
  font-weight: 600;
  font-size: 15px;
  color: #042354;
  margin-bottom: 5px;
}

.Activities_RecentCard_Desc {
  font-size: 13px;
  color: #444;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Activities_RecentCard_Date {
  font-size: 12px;
  font-style: italic;
  color: #888;
}

.Activities_ViewMore {
  font-size: 20px;
}

.Activities_ViewMore:hover {
  color: #2d71b9;
  transition: all 0.2s ease-in-out;
}

.Activities_Focus {
  margin-top: 30px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.Activities_Focus_Shape01 {
  position: absolute;
  bottom: 26px;
  left: 0;
  width: 100%;
  height: 320px;
  background-color: #daeef7;
  z-index: 0;
}

.Activities_Focus_Shape02 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 512px;
  height: 337px;
  border-radius: 20px;
  background-color: #042354b5;
  transform: rotate(2.5deg);
  transform-origin: bottom left;
  z-index: -1;
}

.Activities_Focus_ContentWrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 40px;
  padding: 0 120px;
  z-index: 1;
}

.Activities_Focus_ImageContainer {
  padding: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  width: 550px;
}

.Activities_Focus_Image {
  border-radius: 20px;
  box-sizing: border-box;
  position: relative; /* Cần cho Next.js Image */
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.Activities_Focus_Content {
  box-sizing: border-box;
  color: #042354;
  width: 790px;
}

.Activities_Focus_Content_Title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.Activities_Focus_Content_Timeline {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  padding-left: 20px;
  border-left: 2px solid #042354;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.Activities_Focus_Content_TimelineItem_Content:last-child {
  border-left: none;
}

.Activities_Focus_Content_TimelineItem {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-left: 10px;
}

.Activities_Focus_Content_TimelineItem_Circle {
  width: 18px;
  height: 18px;
  background-color: #042354;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 0px;
  border: 5px solid #daeef7;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); /* đổ bóng mềm */
}
.Activities_Focus_Content_TimelineItem_Date {
  font-weight: bold;
  color: #042354;
}

.Activities_Focus_Content_TimelineItem_Text {
  font-size: 14px;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Body_Container_Hightlight {
  max-width: 100%;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Body_Container_Hightlight_Title {
  font-size: 28px;
  font-weight: 700;
  padding-top: 25px;
  color: white;
  z-index: 1;
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Body_Container_Hightlight_Shape {
  position: absolute;
  top: 15px;
  right: 0;
  width: 70%;
  height: 70px;
  background-color: #042354;
  z-index: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.light_slider_container {
  margin-top: 140px;
  margin-bottom: 30px;
  width: 800px;
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.light_slider_item {
  text-align: center;
  margin: 0;
  padding: 0;
  flex: 1;
}

.slider_image_placeholder {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 0 auto 10px;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.slider_image_placeholder_active {
  width: 350px;
  height: 350px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.slider_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin: 0 auto 0.5rem;
}

.light_slider_item h4 {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.light_slider_arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #ffffff;
  padding: 0 1rem;
}

.light_slider_dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.light_slider_dot {
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.light_slider_dot_active {
  background-color: #042354;
}

.Body_Container_Awards {
  max-width: 100%;
  justify-content: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Body_Container_Awards_Title {
  font-size: 28px;
  font-weight: 700;
  padding-top: 50px;
  padding-left: 15%;
  color: white;
  z-index: 1;
  flex-shrink: 0;
  position: relative;
  display: flex;
}

.Body_Container_Awards_Shape01 {
  position: absolute;
  top: 38px;
  left: 0;
  width: 50%;
  height: 70px;
  background-color: #042354;
  z-index: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.Body_Container_Awards_Shape02 {
  position: absolute;
  top: 148px;
  right: 90px;
  width: 618px;
  height: 413px;
  background-color: #042354;
  z-index: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transform: rotate(3.5deg);
  transform-origin: bottom left;
  z-index: 0;
}

.Body_Container_Awards_ContentWrapper {
  display: flex;
  gap: 60px;
  margin-top: 40px;
  padding: 30px 60px;
  z-index: 1;
  color: #fff;
}

.Body_Container_Awards_Content {
  z-index: 1;
  color: #fff;
  width: 1660px;
}

.Body_Container_Awards_Content_Title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.Body_Container_Awards_Content_Desc {
  font-size: 15px;
  text-align: justify;
  line-height: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.Body_Container_Awards_Image {
  width: 618px;
  height: 413px;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative; /* Cần cho Next.js Image */
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin-left: 80px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.Body_Container_Awards_Image_Img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Body_Container_Lower {
  margin-top: 60px;
}

.Body_Container_Lower_Bandroll {
  width: 100%;
}

.Body_Container_Lower_Bandroll_Content {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(246, 252, 255, 0.521);
  padding: 10px 0px;
}

.Image_Grid_Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 60px;
}

.Image_Top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.Image_Bottom_Row {
  display: flex;
  gap: 20px;
}

.Image_Bottom {
  flex: 1;
  height: 200px;
  object-fit: cover;
  display: block;
}
