.overview {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.overview_background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/Img/Homepage/Hero.png"); /* Đặt hình ảnh nền */
  background-repeat: no-repeat; /* Không lặp lại hình nền */
  background-position: center center; /* Canh giữa hình nền */
  background-size: cover; /* Làm cho hình nền phủ toàn bộ container */
}
.overview_background::before {
  content: ""; /* Pseudo-element cần có content */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overview_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}
.overview_header_logohead {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}
.overview_header_authButtons {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 100px;
}

.overview_header_authButtons button:hover {
  background: #0056b3;
}

/* .logos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
} */

.overview_body {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 10px; /* px-5 py-10 */
  line-height: 0px;
}

.overview_body_logo {
  width: 459px;
  height: 186px;
}

.overview_body_title {
  font-size: 25px; /* text-xs */
  text-align: center;
  color: #f8fafc; /* text-slate-50 */
  letter-spacing: 0.5px;
}

.overview_body_subtitle {
  font-size: 27px; /* text-xs */
  text-align: center;
  color: #f8fafc; /* text-slate-50 */
  letter-spacing: 1px;
}
