/* Định dạng chung */

/* Import Montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* Apply Montserrat font globally */
* {
  font-family: "Montserrat", sans-serif;
}

main {
  line-height: 1.6;
}

/* Tiêu đề */
.title-section {
  text-align: center;
  padding: 40px 20px;
}

.main-title {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  margin-top: 10px;
  font-style: italic !important;
}

.full-width-image {
  width: 100%;
  overflow: hidden;
}

.two-columns-section {
  display: flex;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.content-column {
  width: 60%;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.content-column p {
  margin-bottom: 15px;
  font-size: 1.1rem;
  text-align: justify;
}

.image-column {
  width: 40%;
  padding: 20px;
}

.slideshow {
  position: relative;
  width: 100%;
}

.slide img {
  border-radius: 8px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #003087;
}

/* Timeline Section */
.timeline-section {
  max-width: 100%;
  margin: 0;
  position: relative;
  padding: 40px 0;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 2px 5px #0003;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 18px; /* Đặt đường thẳng sao cho dấu chấm tròn nằm chính giữa */
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #003087;
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -37px; /* Điều chỉnh để dấu chấm tròn nằm chính giữa đường thẳng */
  top: 5px;
  width: 16px;
  height: 16px;
  background-color: #003087;
  border-radius: 50%;
  transform: translateX(
    50%
  ); /* Dịch chuyển dấu chấm tròn về bên phải 50% chiều rộng của nó để căn giữa */
}

.timeline-item h3 {
  font-size: 1.2rem;
  color: #003087;
  font-weight: bold;
  margin-bottom: 5px;
}

.timeline-item p {
  font-size: 1rem;
  color: #042354;
}

.timeline-description {
  max-width: 1200px;
  margin: 0 auto;
  position: relative; /* Cần thiết để pseudo-element ::before hoạt động đúng */
  padding: 40px 20px;
  margin-top: 20px;
  padding: 25px;
  padding-bottom: 40px;
  text-align: justify;
}

.timeline-description p {
  font-size: 1.1rem;
}
